<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload MP3</title>
</head>
<body>
    <h1>Upload MP3</h1>
    <form action="/music" method="post" enctype="multipart/form-data">
        <input type="file" name="mp3file" accept="audio/mpeg">
        <button type="submit">Upload</button>
    </form>
    <h2>Lista de tracks disponíveis</h2>
    <ul>
        <li>1 -> Drums</li>
        <li>2 -> Bass</li>
        <li>3 -> Vocals</li>
        <li>4 -> Other</li>
    </ul>
    <h2>Lista de músicas</h2>
    <ul>
        {% for music in music_list %}
        <li>
            {{music.music_id}} - {{ music.name }}
            {% if music.band %}- {{ music.band }}{% endif %}
        </li>
        {% endfor %}
    </ul>
    <form id="myForm" action="/music/{{music_id}}" method="post">
        <input id="musicIdInput" type="text" name="music_id" placeholder="Music ID">
        <input type="text" name="tracks" placeholder="Tracks by id (comma-separated)">
        <button type="submit">Process</button>
    </form>
    <h2>Jobs</h2>
    <div>
        <form action="/job" method="get">
            <button id="showJobButton" type="submit">Mostrar todos os Jobs</button>
        </form>
        <form id= "getJob" action="/job/{{jobId}}" method="get">
            <p>Selecionar um job: </p>
            <input id="jobIdInput" type="text" placeholder="Job ID">
            <button id="showJobBtn" type="submit">Ok</button>
        </form>  
        {% if jobs %}
        <ul> 
            {% for job_id in jobs %}
                <b>Job ID:</b> {{ job_id }}
                {% for job in jobs[job_id] %}
                <li style="padding-left: 20px;">
                    Parte {{ job }} da musica  
                    <ul style="padding-left: 20px;">
                        <li>Size: {{ jobs[job_id][job][0] }}</li>
                        <li>Time: {{ jobs[job_id][job][1] }}</li>
                        <li>Music ID: {{ jobs[job_id][job][2]}}</li>
                        <li>Track ID: {{ jobs[job_id][job][3]}}</li>
                    </ul>
                </li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
        {% if job %}
        <ul>
            <b>Job Selecionado</b>
            {% for j in job %}
            <li style="padding-left: 20px;">
                Parte ID: {{ j }}
                <ul>
                    <li>Size: {{ job[j][0] }}</li>
                    <li>Time: {{ job[j][1] }}</li>
                    <li>Music ID: {{ job[j][2] }}</li>
                    <li>Track ID: {{ job[j][3] }}</li>
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
  
</body>
    
<script>
    document.getElementById("myForm").addEventListener("submit", function(event) {
        // Atualizar o atributo action do formulário com o valor do music_id
        var musicId = document.getElementById("musicIdInput").value;
        this.action = "/music/" + musicId;
    });
    
    document.getElementById("showJobButton").addEventListener("click", function(event) {
        this.action = "/job";
    });

    document.getElementById("showJobBtn").addEventListener("click", function(event) {
        var jobId = document.getElementById("jobIdInput").value;
        var form = document.getElementById("getJob");
        form.action = "/job/" + jobId;
    });

</script>
</html>

