<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload MP3</title>
</head>
<body>
    <h1>Upload MP3</h1>
    <form action="/music" method="post" enctype="multipart/form-data">
        <input type="file" name="mp3file" accept="audio/mpeg">
        <button type="submit">Upload</button>
    </form>
    <h2>Lista de músicas</h2>
    <ul>
        {% for music in music_list %}
        <li>
            {{ music.name }}
            {% if music.band %}- {{ music.band }}{% endif %}
        </li>
        {% endfor %}
    </ul>
    
</body>
</html>
