<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload MP3</title>
</head>
<body>
    <h1>Upload MP3</h1>
    <form action="/music" method="post" enctype="multipart/form-data">
        <input type="file" name="mp3file" accept="audio/mpeg">
        <button type="submit">Upload</button>
    </form>
    <h2>Lista de tracks disponíveis</h2>
    <ul>
        <li>1 -> Drums</li>
        <li>2 -> Bass</li>
        <li>3 -> Vocals</li>
        <li>4 -> Other</li>
    </ul>
    <h2>Lista de músicas</h2>
    <ul>
        {% for music in music_list %}
        <li>
            {{music.music_id}} - {{ music.name }}
            {% if music.band %}- {{ music.band }}{% endif %}
        </li>
        {% endfor %}
    </ul>
    <form id="myForm" action="/music/{{music_id}}" method="post">
        <input id="musicIdInput" type="text" name="music_id" placeholder="Music ID">
        <input type="text" name="tracks" placeholder="Tracks by id (comma-separated)">
        <button type="submit">Process</button>
    </form>
    <hr/>
    <h2>Lista de jobs</h2>
    <button id="showJobButton" type="button">Mostrar Jobs</button>
    <script>
        document.getElementById("myForm").addEventListener("submit", function(event) {
            // Atualizar o atributo action do formulário com o valor do music_id
            var musicId = document.getElementById("musicIdInput").value;
            this.action = "/music/" + musicId;
        });

    </script>
    
    
</body>
</html>

